body {
	padding: 0;
	margin: 0 7vw 0 6vw;
	background: #222629;
	background-position-x: center;
    background-position-y: top;
	 height: 100%;
	 background-image: url('../img/stars5.png');
	 background-repeat: repeat;
}

h1{
    font-family: 'Stick', sans-serif;
    color: #66FCF1;
    text-align: center;
    font-size: 75px;
    /* -webkit-text-stroke: 0.5px #29635e;*/
}
.zagolovok{
	display: block;
	margin-left: auto;
    margin-right: auto; 
    margin-top: 33px;
    height: 35vw;
}
h2{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 2.5vw;
	line-height: 2;
}
div{
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding-bottom: 5vw;
}
div img{
	height: 22vw;
}
.turn{
	transform: rotate(-45deg);
	    margin: 3vw;
    height: 20vw;
}
.left{
	text-align: right;
}